.HomePage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 40px 10px;
  visibility: hidden;
  &__gameHistoryIconWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__gameHistoryIcon {
    width: 70%;
  }
  &__userCogWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }
  &__userCog {
    font-size: 30px;
    color: $font-color;
  }
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  &__link {
    color: $font-color;
    width: 120px;
    font-size: 18px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &--active {
      background-color: $box-color;
    }
  }

  &__header {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
  }
  &__leadersWrapper {
    width: 100%;
    margin: 190px 0;
    position: relative;
  }
  &__firstPlace,
  &__secondPlace,
  &__thirdPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    position: absolute;
    color: $font-color;
    top: 50%;
  }
  &__firstPlace {
    left: 50%;
    transform: translate(-50%, -57%);
    z-index: 100;
  }
  &__secondPlace {
    left: 50%;
    transform: translate(-145%, -40%);
  }
  &__thirdPlace {
    right: 50%;
    transform: translate(145%, -40%);
  }
  &__corona {
    width: 70px;
  }
  &__symbolImage {
    width: 25px;
    margin: 5px 0;
  }
  &__nickname {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  &__points {
    font-size: 25px;
    color: $second-color;
  }
  &__image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 4px solid $second-color;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 15px;
    &--first {
      width: 130px;
      height: 130px;
      margin: 15px 0 15px;
      box-shadow: 0 0 40px rgba(15, 190, 68, 0.438);
    }
  }
  &__placeNumber {
    margin-bottom: 5px;
    font-size: 22px;
  }
  &__imageSrc {
    width: 100%;
    height: 100%;
  }

  /* >>>>>>>>>>>>>>>>> ANOTHER PLACES <<<<<<<<<<<<<<<<<<<< */

  &__anotherPlaces {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color: $font-color;
    margin-bottom: 20px;
  }
  &__placeNumberSpan {
    font-size: 22px;
  }
  &__anotherPlacesBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    width: 85%;
    background-color: $box-color;
    border-radius: 40px;
  }
  &__anotherPlacesImageWrapper {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    justify-self: flex-start;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__anotherPlacesImage {
    width: 100%;
  }
  &__anotherPlacesNickname {
    font-size: 18px;
  }
  &__anotherPlacesPoints {
    font-size: 21px;
    color: $second-color;
  }
}
